*{
    margin: 0;
    padding: 0;
}
.toolbox-cont{
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
}
.toolbox-priority-cont{
    height: 3rem;
    width: 20rem;
    background-color: gray;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.action-btn-cont{
    height: 3rem;
    width: 10rem;
    background-color: gray;
    margin-left: 5rem;
}
.color{
    height: 1.5rem;
    width: 3rem;
}
.red{
    background-color:red;
}
.blue{
    background-color:blue;
}
.green{
    background-color:green;
}
.black{
    background-color:black;
}
.action-btn-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}
.add-new-cont{
    height: 50vh;
    width: 50vw;
    background-color: lightgray;
    display: none;
    position: absolute;
    left: 25vw;
    top: 25vh;
}
.textarea-cont{
    width: 75%;
    /* height: 100%; */
    outline: none;
    border: none;
    resize: none;
    background-color: antiquewhite;
    font-size: 2rem;
    padding: 2rem;
}
.priority-selector{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.priority-btn{
    height: 3rem;
    width: 5rem;
}
.main-cont{
    /* margin-top: 5rem; */
    padding: 2rem; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

}
.ticket-body{
    background-color: aliceblue;
    height: 10rem;
    width: 15rem;
}
.ticket-color{
    height: 1rem;
}
.ticket-id{
    font-weight: 700;
    font-size: 1.2rem;
}
.ticket-desc{
    font-size: 1.3rem;
}
.active{
    border: 5px solid white;
}